<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>The Occasion Octopus</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="{{ site.baseurl }}/static/css/main.css" rel="stylesheet" />
</head>

<body>

<div class="bg-primary my-0">
    <div class="container py-2">
        <h1><a href="{{ site.baseurl }}/" class="text-white">The Occasion Octopus</a></h1>
    </div>
</div>
<div class="bg-secondary mt-0 mb-3">
    <div class="container">
        <nav class="py-2">
            <a class="text-white pr-3" href="{{ site.baseurl }}/">Introduction</a>
            <a class="text-white pr-3" href="{{ site.baseurl }}/join">Join us</a>
            <a class="text-white pr-3" href="{{ site.baseurl }}/docs">Documentation</a>
            <a class="text-white pr-3" href="https://github.com/theoccasionoctopus">GitHub</a>
            <a class="text-white pr-3" href="{{ site.baseurl }}/community">Community</a>
        </nav>
    </div>
</div>


<div class="container">
    <div class="row py-4">
        <div class="col-md-6 text-center py-2">
            <a href="{{ site.baseurl }}/static/img/screenshot-step1.png">
                <img src="{{ site.baseurl }}/static/img/screenshot-step1-thumb.png" width="300" height="300" class="border border-dark rounded" alt="Screenshot">
            </a>
        </div>
        <div class="col-md-6">
            <h2 class="display-4">Create your account and follow friends and organisations that interest you.</h2>
        </div>
    </div>
    <div class="row py-4">
        <div class="col-md-6 text-center py-2">
            <a href="{{ site.baseurl }}/static/img/screenshot-step2.png">
                <img src="{{ site.baseurl }}/static/img/screenshot-step2-thumb.png" width="300" height="300" class="border border-dark rounded" alt="Screenshot">
            </a>
        </div>
        <div class="col-md-6">
            <h2 class="display-4">Discover events recommended by those you follow!</h2>
        </div>
    </div>
    <div class="row py-4">
        <div class="col-md-6 text-center py-2">
            <a href="{{ site.baseurl }}/static/img/screenshot-step3.png">
                <img src="{{ site.baseurl }}/static/img/screenshot-step3-thumb.png" width="300" height="300" class="border border-dark rounded" alt="Screenshot">
            </a>
        </div>
        <div class="col-md-6">
            <h2 class="display-4">Add interesting events to your account and recommend them to your followers.</h2>
        </div>
    </div>
</div>

<div class="bg-primary">
    <div class="container ">
        <div class="row text-white">
                <h2 class="display-4">We are an Open Source, Federated network of Open Data for discovering interesting events.</h2>
        </div>
    </div>
</div>


<div class="container">
    <div class="my-3">
        We help people discover good events - we do not help organisers host events or do any related functions such as tickets or mailing lists.
        (We know it's a problem when event discovery platforms try to capture an event's audience for their own purposes - we do not do this!)
        Instead we simply help people find good events and then direct them to the original home of that event, wherever that is.
    </div>

    <div class="my-3">
        We heavily promote Open Data about events - with totally open feeds from our app that can be imported straight into people's personal calendars,
        and a full read/write API and bots to help you re-use other data sources.
    </div>

    <div class="row mt-5">
        <div class="col-lg-4 text-center p-2">
            <div>
                <a href="{{ site.baseurl }}/static/img/screenshot-tags.png">
                    <img src="{{ site.baseurl }}/static/img/screenshot-tags-thumb.png" width="300" height="200" class="border border-dark rounded" alt="Screenshot">
                </a>
            </div>
            Tag events.
        </div>

        <div class="col-lg-4 text-center p-2">
            <div>
                <a href="{{ site.baseurl }}/static/img/screenshot-privacy-options.png">
                    <img src="{{ site.baseurl }}/static/img/screenshot-privacy-options-thumb.png" width="300" height="200" class="border border-dark rounded" alt="Screenshot">
                </a>
            </div>
            Basic Privacy - choose per tag or per event.
        </div>
        <div class="col-lg-4 text-center p-2">
            <div>
                <a href="{{ site.baseurl }}/static/img/screenshot-reoccurs.png">
                    <img src="{{ site.baseurl }}/static/img/screenshot-reoccurs-thumb.png" width="300" height="200" class="border border-dark rounded" alt="Screenshot">
                </a>
            </div>
            Reoccurring events.
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-lg-4 text-center p-2">
            <div>
                <a href="{{ site.baseurl }}/static/img/screenshot-timezone.png">
                    <img src="{{ site.baseurl }}/static/img/screenshot-timezone-thumb.png" width="300" height="200" class="border border-dark rounded" alt="Screenshot">
                </a>
            </div>
            TimeZone support.
        </div>

        <div class="col-lg-4 text-center p-2">
            <div>
                <a href="{{ site.baseurl }}/static/img/screenshot-one-login-multiple-accounts.png">
                    <img src="{{ site.baseurl }}/static/img/screenshot-one-login-multiple-accounts-thumb.png" width="300" height="200" class="border border-dark rounded" alt="Screenshot">
                </a>
            </div>
            One login can manage multiple accounts.
        </div>
        <div class="col-lg-4 text-center p-2">
            <div>
                <a href="static/img/screenshot-discovery.png">
                    <img src="{{ site.baseurl }}/static/img/screenshot-discovery-thumb.png" width="300" height="200" class="border border-dark rounded" alt="Screenshot">
                </a>
            </div>
            Event discovery - we direct people to the real home of the event online.
        </div>
    </div>

    <div class="row mt-5">

        <div class="col-lg-4 text-center p-2">
            <div>
                <a href="{{ site.baseurl }}/static/img/screenshot.png">
                    <img src="{{ site.baseurl }}/static/img/screenshot-thumb.png" width="300" height="200" class="border border-dark rounded" alt="Screenshot">
                </a>
            </div>
            Export via JSON or iCal straight into your personal calendar.
        </div>
        <div class="col-lg-4 text-center p-2">
            <div>
                <a href="{{ site.baseurl }}/static/img/screenshot.png">
                    <img src="{{ site.baseurl }}/static/img/screenshot-thumb.png" width="300" height="200" class="border border-dark rounded" alt="Screenshot">
                </a>
            </div>
            Import iCal directly to your account.
        </div>
        <div class="col-lg-4 text-center p-2">
            <div>
                <a href="{{ site.baseurl }}/static/img/screenshot.png">
                    <img src="{{ site.baseurl }}/static/img/screenshot-thumb.png" width="300" height="200" class="border border-dark rounded" alt="Screenshot">
                </a>
            </div>
            Bots import or scrape events then add them via our full write API - see our samples (including schema.org markup) and write your own!
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-md-3 text-center p-3">
            <a href="{{ site.baseurl }}/join" class="btn btn-primary">Join us</a>
        </div>
        <div class="col-md-3 text-center p-3">
            <a  href="{{ site.baseurl }}/docs" class="btn btn-primary">Documentation</a>
        </div>
        <div class="col-md-3 text-center p-3">
            <a  href="https://github.com/theoccasionoctopus" class="btn btn-primary">GitHub</a>
        </div>
        <div class="col-md-3 text-center p-3">
            <a  href="{{ site.baseurl }}/community" class="btn btn-primary">Community</a>
        </div>
    </div>


    <div class="my-5 text-center" id="footer">
        The Occasion Octopus.
        <a href="https://github.com/theoccasionoctopus">Open Source</a>.
        <a href="https://fosstodon.org/@theoccasionoctopus">Mastodon</a>.
        <a href="https://twitter.com/the_occ_octopus">Twitter</a>.
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>
</html>
