<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>EventBrew</title>
    <meta name="viewport" content="initial-scale=1">
    <link href="{{ site.baseurl }}/static/css/main.css" rel="stylesheet" />
</head>

<body>

<div id="headerbannerwrapper">
    <div id="headerbanner">
        <h1>EventBrew, Open Source Open Data event software is in development.</h1>
    </div>
</div>

<div id="footerwrapper">
    <div id="footer">
        &copy; <a href="http://jmbtechnology.co.uk/">JMB Technology Limited</a> 2013-2019.
    </div>
</div>


</body>
</html>
